<settings>
  <servers>
    <server>
      <id>anypoint-repo</id>
      <username>U2FsdGVkX19OqbcGBqQlNyKfJaqLpB7yOG+InAoGetKu/rWKb0E0jFCx5q3nELloMkP1wbpHfwQRyJv8KCFsEw==</username>
      <password>U2FsdGVkX18qog/Srrw14deM9TL0A30eiSnKf5f98b8cm7LqAPYYDd8Qu/u6Mi4ePSYCrp80a8rsOxLojRal3g==</password>
    </server>
    <server>
      <id>github-repo</id>
      <username>U2FsdGVkX1+sHruTuIBrXgNpUWFDcV7o7Wkv65GDfM+R127YWMAxI8tKZnw6CQ7e</username>
      <password>U2FsdGVkX1//qKJ5aMuIrBN0+7sx+OevKzipqOT3y8f1j5nKXNmwpLpUaybAMi9c60+q9eNlYTgB9uonjiHfsQ==</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>anypoint-profile</id>
      <properties>
        <anypoint.clientId>U2FsdGVkX19OqbcGBqQlNyKfJaqLpB7yOG+InAoGetKu/rWKb0E0jFCx5q3nELloMkP1wbpHfwQRyJv8KCFsEw==</anypoint.clientId>
        <anypoint.clientSecret>U2FsdGVkX18qog/Srrw14deM9TL0A30eiSnKf5f98b8cm7LqAPYYDd8Qu/u6Mi4ePSYCrp80a8rsOxLojRal3g==</anypoint.clientSecret>
      </properties>
    </profile>
    <profile>
      <id>github-profile</id>
      <properties>
        <github.email>U2FsdGVkX1+sHruTuIBrXgNpUWFDcV7o7Wkv65GDfM+R127YWMAxI8tKZnw6CQ7e</github.email>
        <github.token>U2FsdGVkX1//qKJ5aMuIrBN0+7sx+OevKzipqOT3y8f1j5nKXNmwpLpUaybAMi9c60+q9eNlYTgB9uonjiHfsQ==</github.token>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>anypoint-profile</activeProfile>
    <activeProfile>github-profile</activeProfile>
  </activeProfiles>
</settings>
