<settings>
  <servers>
    <server>
      <id>anypoint-repo</id>
      <username>U2FsdGVkX18GfGqylA9KdV9xLIVmCJgn07CcrhKVDULS1tOncEOOsEovxafiY+WYEwmtjwo6/Ov/1+jp+HqL6Q==</username>
      <password>U2FsdGVkX1880f5tMvCmW8AooeQXf+0RFRCNpDLfogUdPtUIdNdvNqrdfkljNkdyDmJeBSZp275gzt/zK813EQ==</password>
    </server>
    <server>
      <id>github-repo</id>
      <username>U2FsdGVkX1+NnZrXJwIcmAlwlqnJlB16H/xc7VoOwAeKxAoSu1o5//nI/Fp1qISj</username>
      <password>U2FsdGVkX1858a3qtxLktpySo/zCnUYOPHXc3rKyf3Fpecu8nPjk+zZu9N6XU0bOIOHOnCEMUh7MrHQ3QsnBAg==</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>anypoint-profile</id>
      <properties>
        <anypoint.clientId>U2FsdGVkX18GfGqylA9KdV9xLIVmCJgn07CcrhKVDULS1tOncEOOsEovxafiY+WYEwmtjwo6/Ov/1+jp+HqL6Q==</anypoint.clientId>
        <anypoint.clientSecret>U2FsdGVkX1880f5tMvCmW8AooeQXf+0RFRCNpDLfogUdPtUIdNdvNqrdfkljNkdyDmJeBSZp275gzt/zK813EQ==</anypoint.clientSecret>
      </properties>
    </profile>
    <profile>
      <id>github-profile</id>
      <properties>
        <github.email>U2FsdGVkX1+NnZrXJwIcmAlwlqnJlB16H/xc7VoOwAeKxAoSu1o5//nI/Fp1qISj</github.email>
        <github.token>U2FsdGVkX1858a3qtxLktpySo/zCnUYOPHXc3rKyf3Fpecu8nPjk+zZu9N6XU0bOIOHOnCEMUh7MrHQ3QsnBAg==</github.token>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>anypoint-profile</activeProfile>
    <activeProfile>github-profile</activeProfile>
  </activeProfiles>
</settings>
