<settings>
  <servers>
    <server>
      <id>anypoint-repo</id>
      <username>U2FsdGVkX19nZJQuAjcTpUWD0k/vPl5UZFRZkcUzKZAER/I6dJctvMKk5SxbXht6xuE78/oZdzRWvJuCBOoCpg==</username>
      <password>U2FsdGVkX1+Hvex2BF+0CGUpltjbp1lC1jDpbmbON3mqS5NyzcPICDdUFOkjdrNicPL3LbiwQyB4gu9cZjhqHg==</password>
    </server>
    <server>
      <id>Repository</id>
      <username>Raslen11</username>
      <password>Raslen123**</password>
    </server>
    <server>
      <id>github-repo</id>
      <username>U2FsdGVkX1/xaJvHlp3PbR4xYkeJvgymJLyuKWnSn34lshAnxpzxpMVKBcQPy7Bd</username>
      <password>U2FsdGVkX1/86GyVn0AopB4ke+JQ//fwJ47P0wR5ZBQtXxlidTupRJhQCuaKrXI4OlbmaxERjugXwVlcTPJ8jw==</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>anypoint-profile</id>
      <properties>
        <anypoint.clientId>U2FsdGVkX19nZJQuAjcTpUWD0k/vPl5UZFRZkcUzKZAER/I6dJctvMKk5SxbXht6xuE78/oZdzRWvJuCBOoCpg==</anypoint.clientId>
        <anypoint.clientSecret>U2FsdGVkX1+Hvex2BF+0CGUpltjbp1lC1jDpbmbON3mqS5NyzcPICDdUFOkjdrNicPL3LbiwQyB4gu9cZjhqHg==</anypoint.clientSecret>
      </properties>
    </profile>
    <profile>
      <id>github-profile</id>
      <properties>
        <github.email>U2FsdGVkX1/xaJvHlp3PbR4xYkeJvgymJLyuKWnSn34lshAnxpzxpMVKBcQPy7Bd</github.email>
        <github.token>U2FsdGVkX1/86GyVn0AopB4ke+JQ//fwJ47P0wR5ZBQtXxlidTupRJhQCuaKrXI4OlbmaxERjugXwVlcTPJ8jw==</github.token>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>anypoint-profile</activeProfile>
    <activeProfile>github-profile</activeProfile>
  </activeProfiles>
</settings>
